<div class="create_new">
  <a href="/lookups/new/" class="btn btn-success">Create Lookup</a>
</div>

<div class="clear"></div>

<% if @lookups.size > 0 %>
  <table class="table table-stripped" id="search-results">
    <thead>
      <th>Domain</th>
      <th>IP</th>
      <th>Trust</th>
      <th></th>
    </thead>

  <% @lookups.each do |lookup| %>
    <tr>
      <td><%= lookup.domain %></td>
      <td><%= lookup.ip %></td>
      <td class="trust" data-id="<%= lookup.id %>"><%= lookup.trust %></td>
      <td style="text-align: right" width="25%">
        <a href="#" class="vote vote-up" data-id="<%= lookup.id %>">
          <img src="/images/up.png">
        </a>
        <a href="#" class="vote vote-down" data-id="<%= lookup.id %>">
          <img src="/images/down.png">
        </a>
      </td>
    </tr>
  <% end %>
  </table>
<% else %>
  <div class="alert alert-block">
    No lookups found.
  </div>
<% end %>

