<div id="wrapper">
  <%= render 'form' %>

<% if @lookups.size > 0 %>
  <table class="table table-stripped">
    <thead>
      <th>Domain</th>
      <th>Ip</th>
      <th>Trust</th>
      <th></th>
    </thead>

  <% @lookups.each do |lookup| %>
    <tr>
      <td><%= lookup.domain %></td>
      <td><%= lookup.ip %></td>
      <td class="trust" data-id="<%= lookup.id %>"><%= lookup.trust %></td>
      <td style="text-align: right" width="25%">
        <a href="#" class="vote-up btn btn-success" data-id="<%= lookup.id %>">
          <i class="icon-ok"></i>
          Vote up
        </a>
        <a href="#" class="vote-down btn btn-danger" data-id="<%= lookup.id %>">
          <i class="icon-remove"></i>
          Vote down
        </a>
      </td>
    </tr>
  <% end %>
  </table>
<% else %>
  <div class="alert alert-block">
    No lookups found.
  </div>
<% end %>
</div>
